
@{
    ViewBag.Title = "LogOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Successfully Logged Out</h2>
<br />
<p>@Html.ActionLink("Log In Again", "Register", "User") | @Html.ActionLink("Go to Homepage", "Index", "Home")
</p>


