
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>About Food Fetch</h3>
<div>
    <h4>What is Food Fetch?</h4>
    <p>Our mission is to bring the world's local restaurants into everyone's home or office - fast.</p>
    <p>Food Fetch lets you order amazing food from the best loved local restaurants who otherwise may not offer delivery. </p>
    <p>We work with hundreds of restaurant chains and many top quality independents to deliver their food to your home or office. Our customers are as passionate about great food as we are!</p>
    <p>We have a fantastic team of drivers who take pride in getting your food to you as quickly as roo-ly possible. We call them the Roowomen and Roomen.</p>
</div>

<h3>Using Food Fetch</h3>
<div>
    <h4>How does Food Fetch work?</h4>
    <p>It's really quite straightforward - we'll show you all the great restaurants that deliver to you. Choose the restaurant that tickles your fancy, put together your order, enter your address and payment details, and that's it - we'll get your food to you as soon as possible!</p>
</div>
<div>
    <h4>What kind of restaurants are listed on Food Fetch?</h4>
    <p>We personally curate a high-quality and diverse selection of restaurants in your area. This can range from a top neighbourhood Italian trattoria to well-regarded national burger chain. The only thing you will not find on Food Fetch is low-quality takeaway restaurants.</p>
</div>
<div>
    <h4>What times can I order for?</h4>
    <p>We deliver every day from noon to 23:00.</p>
</div>
<div>
    <h4>How is the food delivered to me?</h4>
    <p>Once you place an order, one of our capable delivery drivers will head to the restaurant to pick up your meal. With a hop, skip and a jump they will then deliver your order to you!</p>
</div>
<div>
    <h4>Why doesn't Food Fetch accept cash?</h4>
    <p>People still use cash? Really, son? This is the new millennium, we don’t party like it’s 1999.</p>
    <p>In all seriousness - we only take card payments because it lets us provide you with the best possible experience. It creates a safer working environment for our drivers, too. Feel free to tip your driver in cash, however.</p>
</div>
<div>
    <h4>Do I have to tip?</h4>
    <p>Whether you tip or not is completely up to you, but of course is always appreciated and encouraged. You can tip via your card when placing your order, or tip in cash when the driver delivers your food. Our drivers receive 100% of all tips - we don’t keep any of it!</p>
</div>
<div>
    <h4>Is there a minimum order value?</h4>

    <p>The minimum order value varies depending on the restaurant you order from. It's typically &euro;15.00.</p>
</div>

<div>
    <h4>Is there a delivery charge?</h4>

    <p>For orders over a &euro;15.00 subtotal, we currently charge a &euro;2.50 Delivery Fee.</p>
    <p>You can still place orders for less than &euro;15.00 subtotal, however a &euro;2.00 surcharge will be added to your Delivery Fee.</p>
</div>

